#!/usr/bin/env bash
set -euo pipefail


# Ignore this function and `e home` if you use something like `kubectx` to manage your kubectl contexts and environments
e(){
    export KUBECONFIG="/home/gcpuser/.kube/config"
}

e home

timeout {{ timeout }} kubectl port-forward svc/{{ ssh_jump_name }} {{ local_port }}:22 &

while ! nc -z {{ ipaddress }} {{ local_port }}; do
    sleep 0.1
done

socat - tcp:{{ ipaddress }}:{{ local_port }} 